[submodule "galadriel-sample"]
	path = galadriel-sample
	url = https://github.com/galadriel-ai/contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
